{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">

    {% if post.image %}
      <img src="{{ post.image }}" alt="paper image" style="width:200px; border-radius:10px; float:right; margin-left:20px; margin-bottom:10px;">
    {% endif %}

    <h2 class="archive__item-title" itemprop="headline">
      {% if post.paperurl %}
        <a href="{{ post.paperurl }}" target="_blank">{{ title }}</a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>

    {%- comment -%}
    ---- 只显示 citation 内容，无 venue，无 date，无摘要 ----
    {%- endcomment -%}
    {% if post.citation %}
      <p>{{ post.citation }}</p>
    {% endif %}

  </article>
</div>


